In [2]:
import pandas as pd
from pathlib import Path

In [3]:
BASE_DIR = str(Path().resolve().parent)+"/data/state_loc.csv"

In [5]:
df = pd.read_csv(BASE_DIR)
df

   state_alpha            state_name   latitude   longitude
0           AL               Alabama  32.806671  -86.791130
1           AK                Alaska  61.370716 -152.404419
2           AZ               Arizona  33.729759 -111.431221
3           AR              Arkansas  34.969704  -92.373123
4           CA            California  36.116203 -119.681564
5           CO              Colorado  39.059811 -105.311104
6           CT           Connecticut  41.597782  -72.755371
7           DE              Delaware  39.318523  -75.507141
8           FL               Florida  27.766279  -81.686783
9           GA               Georgia  33.040619  -83.643074
10          HI                Hawaii  21.094318 -157.498337
11          ID                 Idaho  44.240459 -114.478828
12          IL              Illinois  40.349457  -88.986137
13          IN               Indiana  39.849426  -86.258278
14          IA                  Iowa  42.011539  -93.210526
15          KS                Kansas  38.526600  -96.726486
16          KY              Kentucky  37.668140  -84.670067
17          LA             Louisiana  31.169546  -91.867805
18          ME                 Maine  44.693947  -69.381927
19          MD              Maryland  39.063946  -76.802101
20          MA         Massachusetts  42.230171  -71.530106
21          MI              Michigan  43.326618  -84.536095
22          MN             Minnesota  45.694454  -93.900192
23          MS           Mississippi  32.741646  -89.678696
24          MO              Missouri  38.456085  -92.288368
25          MT               Montana  46.921925 -110.454353
26          NE              Nebraska  41.125370  -98.268082
27          NV                Nevada  38.313515 -117.055374
28          NH         New Hampshire  43.452492  -71.563896
29          NJ            New Jersey  40.298904  -74.521011
30          NM            New Mexico  34.840515 -106.248482
31          NY              New York  42.165726  -74.948051
32          NC        North Carolina  35.630066  -79.806419
33          ND          North Dakota  47.528912  -99.784012
34          OH                  Ohio  40.388783  -82.764915
35          OK              Oklahoma  35.565342  -96.928917
36          OR                Oregon  44.572021 -122.070938
37          PA          Pennsylvania  40.590752  -77.209755
38          RI          Rhode Island  41.680893  -71.511780
39          SC        South Carolina  33.856892  -80.945007
40          SD          South Dakota  44.299782  -99.438828
41          TN             Tennessee  35.747845  -86.692345
42          TX                 Texas  31.054487  -97.563461
43          UT                  Utah  40.150032 -111.862434
44          VT               Vermont  44.045876  -72.710686
45          VA              Virginia  37.769337  -78.169968
46          WA            Washington  47.400902 -121.490494
47          WV         West Virginia  38.491226  -80.954453
48          WI             Wisconsin  44.268543  -89.616508
49          WY               Wyoming  42.755966 -107.302490
50          DC  District of Columbia  38.897438  -77.026817

In [11]:
for i, row in df.iterrows():
    print(i, row[0], row[1], row[2], row[3])

0 AL Alabama 32.806671 -86.79113
1 AK Alaska 61.370716 -152.404419
2 AZ Arizona 33.729759 -111.431221
3 AR Arkansas 34.969704 -92.373123
4 CA California 36.116203 -119.681564
5 CO Colorado 39.059811 -105.311104
6 CT Connecticut 41.597782 -72.755371
7 DE Delaware 39.318523 -75.507141
8 FL Florida 27.766279 -81.686783
9 GA Georgia 33.040619 -83.643074
10 HI Hawaii 21.094318 -157.498337
11 ID Idaho 44.240459 -114.478828
12 IL Illinois 40.349457 -88.986137
13 IN Indiana 39.849426 -86.258278
14 IA Iowa 42.011539 -93.210526
15 KS Kansas 38.5266 -96.726486
16 KY Kentucky 37.66814 -84.670067
17 LA Louisiana 31.169546 -91.867805
18 ME Maine 44.693947 -69.381927
19 MD Maryland 39.063946 -76.802101
20 MA Massachusetts 42.230171 -71.530106
21 MI Michigan 43.326618 -84.536095
22 MN Minnesota 45.694454 -93.900192
23 MS Mississippi 32.741646 -89.678696
24 MO Missouri 38.456085 -92.288368
25 MT Montana 46.921925 -110.454353
26 NE Nebraska 41.12537 -98.268082
27 NV Nevada 38.313515 -117.055374
28 NH New Hampshire 43.452492 -71.563896
29 NJ New Jersey 40.298904 -74.521011
30 NM New Mexico 34.840515 -106.248482
31 NY New York 42.165726 -74.948051
32 NC North Carolina 35.630066 -79.806419
33 ND North Dakota 47.528912 -99.784012
34 OH Ohio 40.388783 -82.764915
35 OK Oklahoma 35.565342 -96.928917
36 OR Oregon 44.572021 -122.070938
37 PA Pennsylvania 40.590752 -77.209755
38 RI Rhode Island 41.680893 -71.51178
39 SC South Carolina 33.856892 -80.945007
40 SD South Dakota 44.299782 -99.438828
41 TN Tennessee 35.747845 -86.692345
42 TX Texas 31.054487 -97.563461
43 UT Utah 40.150032 -111.862434
44 VT Vermont 44.045876 -72.710686
45 VA Virginia 37.769337 -78.169968
46 WA Washington 47.400902 -121.490494
47 WV West Virginia 38.491226 -80.954453
48 WI Wisconsin 44.268543 -89.616508
49 WY Wyoming 42.755966 -107.30249
50 DC District of Columbia 38.897438 -77.026817

/var/folders/_n/jx88nvzd6wq_wdmr7k883fj00000gn/T/ipykernel_44810/1975871010.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(i, row[0], row[1], row[2], row[3])

In [13]:
state_centroid = {}
for _, row in df.iterrows():
       state_centroid[row["state_alpha"]] = {
              "state_name": row["state_name"],
              "lat": row["latitude"],
              "lon": row["longitude"]
       }
state_centroid

{'AL': {'state_name': 'Alabama', 'lat': 32.806671, 'lon': -86.79113},
 'AK': {'state_name': 'Alaska', 'lat': 61.370716, 'lon': -152.404419},
 'AZ': {'state_name': 'Arizona', 'lat': 33.729759, 'lon': -111.431221},
 'AR': {'state_name': 'Arkansas', 'lat': 34.969704, 'lon': -92.373123},
 'CA': {'state_name': 'California', 'lat': 36.116203, 'lon': -119.681564},
 'CO': {'state_name': 'Colorado', 'lat': 39.059811, 'lon': -105.311104},
 'CT': {'state_name': 'Connecticut', 'lat': 41.597782, 'lon': -72.755371},
 'DE': {'state_name': 'Delaware', 'lat': 39.318523, 'lon': -75.507141},
 'FL': {'state_name': 'Florida', 'lat': 27.766279, 'lon': -81.686783},
 'GA': {'state_name': 'Georgia', 'lat': 33.040619, 'lon': -83.643074},
 'HI': {'state_name': 'Hawaii', 'lat': 21.094318, 'lon': -157.498337},
 'ID': {'state_name': 'Idaho', 'lat': 44.240459, 'lon': -114.478828},
 'IL': {'state_name': 'Illinois', 'lat': 40.349457, 'lon': -88.986137},
 'IN': {'state_name': 'Indiana', 'lat': 39.849426, 'lon': -86.258278},
 'IA': {'state_name': 'Iowa', 'lat': 42.011539, 'lon': -93.210526},
 'KS': {'state_name': 'Kansas', 'lat': 38.5266, 'lon': -96.726486},
 'KY': {'state_name': 'Kentucky', 'lat': 37.66814, 'lon': -84.670067},
 'LA': {'state_name': 'Louisiana', 'lat': 31.169546, 'lon': -91.867805},
 'ME': {'state_name': 'Maine', 'lat': 44.693947, 'lon': -69.381927},
 'MD': {'state_name': 'Maryland', 'lat': 39.063946, 'lon': -76.802101},
 'MA': {'state_name': 'Massachusetts', 'lat': 42.230171, 'lon': -71.530106},
 'MI': {'state_name': 'Michigan', 'lat': 43.326618, 'lon': -84.536095},
 'MN': {'state_name': 'Minnesota', 'lat': 45.694454, 'lon': -93.900192},
 'MS': {'state_name': 'Mississippi', 'lat': 32.741646, 'lon': -89.678696},
 'MO': {'state_name': 'Missouri', 'lat': 38.456085, 'lon': -92.288368},
 'MT': {'state_name': 'Montana', 'lat': 46.921925, 'lon': -110.454353},
 'NE': {'state_name': 'Nebraska', 'lat': 41.12537, 'lon': -98.268082},
 'NV': {'state_name': 'Nevada', 'lat': 38.313515, 'lon': -117.055374},
 'NH': {'state_name': 'New Hampshire', 'lat': 43.452492, 'lon': -71.563896},
 'NJ': {'state_name': 'New Jersey', 'lat': 40.298904, 'lon': -74.521011},
 'NM': {'state_name': 'New Mexico', 'lat': 34.840515, 'lon': -106.248482},
 'NY': {'state_name': 'New York', 'lat': 42.165726, 'lon': -74.948051},
 'NC': {'state_name': 'North Carolina', 'lat': 35.630066, 'lon': -79.806419},
 'ND': {'state_name': 'North Dakota', 'lat': 47.528912, 'lon': -99.784012},
 'OH': {'state_name': 'Ohio', 'lat': 40.388783, 'lon': -82.764915},
 'OK': {'state_name': 'Oklahoma', 'lat': 35.565342, 'lon': -96.928917},
 'OR': {'state_name': 'Oregon', 'lat': 44.572021, 'lon': -122.070938},
 'PA': {'state_name': 'Pennsylvania', 'lat': 40.590752, 'lon': -77.209755},
 'RI': {'state_name': 'Rhode Island', 'lat': 41.680893, 'lon': -71.51178},
 'SC': {'state_name': 'South Carolina', 'lat': 33.856892, 'lon': -80.945007},
 'SD': {'state_name': 'South Dakota', 'lat': 44.299782, 'lon': -99.438828},
 'TN': {'state_name': 'Tennessee', 'lat': 35.747845, 'lon': -86.692345},
 'TX': {'state_name': 'Texas', 'lat': 31.054487, 'lon': -97.563461},
 'UT': {'state_name': 'Utah', 'lat': 40.150032, 'lon': -111.862434},
 'VT': {'state_name': 'Vermont', 'lat': 44.045876, 'lon': -72.710686},
 'VA': {'state_name': 'Virginia', 'lat': 37.769337, 'lon': -78.169968},
 'WA': {'state_name': 'Washington', 'lat': 47.400902, 'lon': -121.490494},
 'WV': {'state_name': 'West Virginia', 'lat': 38.491226, 'lon': -80.954453},
 'WI': {'state_name': 'Wisconsin', 'lat': 44.268543, 'lon': -89.616508},
 'WY': {'state_name': 'Wyoming', 'lat': 42.755966, 'lon': -107.30249},
 'DC': {'state_name': 'District of Columbia',
  'lat': 38.897438,
  'lon': -77.026817}}

In [1]:

from pathlib import Path
import sys 

project_root = Path().resolve().parents[0]
sys.path.append(str(project_root)) # needs to be string

In [2]:
from src.utils.utils import csv_to_dict
from src.api.nasa_weather import fetch_weather_data

In [3]:
dictionary = csv_to_dict()
dictionary

{'AL': {'lat': 32.806671, 'lon': -86.79113},
 'AK': {'lat': 61.370716, 'lon': -152.404419},
 'AZ': {'lat': 33.729759, 'lon': -111.431221},
 'AR': {'lat': 34.969704, 'lon': -92.373123},
 'CA': {'lat': 36.116203, 'lon': -119.681564},
 'CO': {'lat': 39.059811, 'lon': -105.311104},
 'CT': {'lat': 41.597782, 'lon': -72.755371},
 'DE': {'lat': 39.318523, 'lon': -75.507141},
 'FL': {'lat': 27.766279, 'lon': -81.686783},
 'GA': {'lat': 33.040619, 'lon': -83.643074},
 'HI': {'lat': 21.094318, 'lon': -157.498337},
 'ID': {'lat': 44.240459, 'lon': -114.478828},
 'IL': {'lat': 40.349457, 'lon': -88.986137},
 'IN': {'lat': 39.849426, 'lon': -86.258278},
 'IA': {'lat': 42.011539, 'lon': -93.210526},
 'KS': {'lat': 38.5266, 'lon': -96.726486},
 'KY': {'lat': 37.66814, 'lon': -84.670067},
 'LA': {'lat': 31.169546, 'lon': -91.867805},
 'ME': {'lat': 44.693947, 'lon': -69.381927},
 'MD': {'lat': 39.063946, 'lon': -76.802101},
 'MA': {'lat': 42.230171, 'lon': -71.530106},
 'MI': {'lat': 43.326618, 'lon': -84.536095},
 'MN': {'lat': 45.694454, 'lon': -93.900192},
 'MS': {'lat': 32.741646, 'lon': -89.678696},
 'MO': {'lat': 38.456085, 'lon': -92.288368},
 'MT': {'lat': 46.921925, 'lon': -110.454353},
 'NE': {'lat': 41.12537, 'lon': -98.268082},
 'NV': {'lat': 38.313515, 'lon': -117.055374},
 'NH': {'lat': 43.452492, 'lon': -71.563896},
 'NJ': {'lat': 40.298904, 'lon': -74.521011},
 'NM': {'lat': 34.840515, 'lon': -106.248482},
 'NY': {'lat': 42.165726, 'lon': -74.948051},
 'NC': {'lat': 35.630066, 'lon': -79.806419},
 'ND': {'lat': 47.528912, 'lon': -99.784012},
 'OH': {'lat': 40.388783, 'lon': -82.764915},
 'OK': {'lat': 35.565342, 'lon': -96.928917},
 'OR': {'lat': 44.572021, 'lon': -122.070938},
 'PA': {'lat': 40.590752, 'lon': -77.209755},
 'RI': {'lat': 41.680893, 'lon': -71.51178},
 'SC': {'lat': 33.856892, 'lon': -80.945007},
 'SD': {'lat': 44.299782, 'lon': -99.438828},
 'TN': {'lat': 35.747845, 'lon': -86.692345},
 'TX': {'lat': 31.054487, 'lon': -97.563461},
 'UT': {'lat': 40.150032, 'lon': -111.862434},
 'VT': {'lat': 44.045876, 'lon': -72.710686},
 'VA': {'lat': 37.769337, 'lon': -78.169968},
 'WA': {'lat': 47.400902, 'lon': -121.490494},
 'WV': {'lat': 38.491226, 'lon': -80.954453},
 'WI': {'lat': 44.268543, 'lon': -89.616508},
 'WY': {'lat': 42.755966, 'lon': -107.30249},
 'DC': {'lat': 38.897438, 'lon': -77.026817}}

In [41]:
# dictionary = csv_to_dict()

# for i in dictionary.values():
#     fetch_weather_data(
#         lat=i["lat"],
#         lon=i["lon"],
#         start="2021",
#           end="2024"
#     )