# Testing ETL for yield data

In [6]:
from pathlib import Path

In [7]:
# set a base directory
BASE_DIR = Path().resolve().parent

In [8]:
# checking new directory
print(BASE_DIR)

/Users/lucascorrea/Desktop/Projects/crop_yield

In [9]:
type(BASE_DIR)

pathlib.PosixPath

In [10]:
import sys 

sys.path

['/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python311.zip',
 '/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python3.11',
 '/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python3.11/lib-dynload',
 '',
 '/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python3.11/site-packages']

In [11]:
sys.path.append(str(BASE_DIR))
sys.path

['/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python311.zip',
 '/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python3.11',
 '/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python3.11/lib-dynload',
 '',
 '/Users/lucascorrea/Desktop/Projects/crop_yield/venv/lib/python3.11/site-packages',
 '/Users/lucascorrea/Desktop/Projects/crop_yield']

In [12]:
from src.api.usda_yield import fetch_yield

In [13]:
df = fetch_yield(api_key="01ED94F8-A939-3783-BED5-A806A6C6C48B", crop='corn', start_year="2021", end_year="2024")

Requesting USDA NASS API:
https://quickstats.nass.usda.gov/api/api_GET/?key=01ED94F8-A939-3783-BED5-A806A6C6C48B&commodity_desc=CORN&statisticcat_desc=YIELD&sector_desc=CROPS&source_desc=SURVEY&agg_level_desc=STATE&unit_desc=BU+%2F+ACRE&year__GE=2021&year__LE=2024&format=JSON

In [18]:
df.rename(columns={"Value":"value"}, inplace=True)
df.columns

Index(['year', 'commodity_desc', 'value', 'state_alpha', 'state_name'], dtype='object')

In [19]:
df

     year commodity_desc  value state_alpha    state_name
0    2025           CORN  157.8          OT  OTHER STATES
1    2025           CORN  157.8          OT  OTHER STATES
2    2025           CORN  157.8          OT  OTHER STATES
3    2025           CORN  157.8          OT  OTHER STATES
4    2024           CORN      0          OT  OTHER STATES
..    ...            ...    ...         ...           ...
823  2021           CORN  209.4          DE      DELAWARE
824  2024           CORN  130.8          DE      DELAWARE
825  2023           CORN  165.7          DE      DELAWARE
826  2022           CORN  126.9          DE      DELAWARE
827  2021           CORN  159.5          DE      DELAWARE

[828 rows x 5 columns]

In [20]:
df.head()

   year commodity_desc  value state_alpha    state_name
0  2025           CORN  157.8          OT  OTHER STATES
1  2025           CORN  157.8          OT  OTHER STATES
2  2025           CORN  157.8          OT  OTHER STATES
3  2025           CORN  157.8          OT  OTHER STATES
4  2024           CORN      0          OT  OTHER STATES

In [21]:
df.dtypes

year               int64
commodity_desc    object
value             object
state_alpha       object
state_name        object
dtype: object

In [24]:
df["value"] = df["value"].astype(float)

In [25]:
df.dtypes

year                int64
commodity_desc     object
value             float64
state_alpha        object
state_name         object
dtype: object

In [26]:
df.describe()

              year       value
count   828.000000  828.000000
mean   2022.879227  166.208213
std       1.369879   32.904671
min    2021.000000    0.000000
25%    2022.000000  146.000000
50%    2023.000000  169.000000
75%    2024.000000  186.000000
max    2025.000000  255.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828 entries, 0 to 827
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            828 non-null    int64
 1   commodity_desc  828 non-null    object
 2   value           828 non-null    float64
 3   state_alpha     828 non-null    object
 4   state_name      828 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 32.5+ KB

In [29]:
df["commodity_desc"].value_counts()

commodity_desc
CORN    828
Name: count, dtype: int64

In [33]:
df["state_name"].value_counts()

state_name
DELAWARE          32
OTHER STATES      24
NORTH CAROLINA    24
MISSOURI          24
ALABAMA           24
NEBRASKA          24
WASHINGTON        24
VIRGINIA          24
NEW YORK          24
NORTH DAKOTA      24
MINNESOTA         24
OHIO              24
OKLAHOMA          24
PENNSYLVANIA      24
SOUTH CAROLINA    24
SOUTH DAKOTA      24
MISSISSIPPI       24
MICHIGAN          24
TEXAS             24
ILLINOIS          24
WISCONSIN         24
ARKANSAS          24
COLORADO          24
GEORGIA           24
MARYLAND          24
IDAHO             24
INDIANA           24
IOWA              24
KANSAS            24
KENTUCKY          24
LOUISIANA         24
TENNESSEE         24
CALIFORNIA        16
WEST VIRGINIA      4
UTAH               4
MONTANA            4
OREGON             4
NEW MEXICO         4
NEW JERSEY         4
FLORIDA            4
ARIZONA            4
WYOMING            4
Name: count, dtype: int64

In [34]:
df.loc[max(df["value"])]

year               2022
commodity_desc     CORN
value             205.0
state_alpha          IA
state_name         IOWA
Name: 255, dtype: object

In [36]:
df["state_name"] = df["state_name"].str.lower().str.strip().str.title()
df["state_name"]

0      Other States
1      Other States
2      Other States
3      Other States
4      Other States
           ...
823        Delaware
824        Delaware
825        Delaware
826        Delaware
827        Delaware
Name: state_name, Length: 828, dtype: object

In [37]:
df["commodity_desc"] = df["commodity_desc"].str.lower().str.strip().str.title()
df["commodity_desc"]

0      Corn
1      Corn
2      Corn
3      Corn
4      Corn
       ...
823    Corn
824    Corn
825    Corn
826    Corn
827    Corn
Name: commodity_desc, Length: 828, dtype: object

In [38]:
df

     year commodity_desc  value state_alpha    state_name
0    2025           Corn  157.8          OT  Other States
1    2025           Corn  157.8          OT  Other States
2    2025           Corn  157.8          OT  Other States
3    2025           Corn  157.8          OT  Other States
4    2024           Corn    0.0          OT  Other States
..    ...            ...    ...         ...           ...
823  2021           Corn  209.4          DE      Delaware
824  2024           Corn  130.8          DE      Delaware
825  2023           Corn  165.7          DE      Delaware
826  2022           Corn  126.9          DE      Delaware
827  2021           Corn  159.5          DE      Delaware

[828 rows x 5 columns]

In [40]:
df["state_name"].unique()

array(['Other States', 'Alabama', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Delaware', 'Florida', 'Georgia', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maryland',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)